/* =============
    about
============= */
@use "../helpers";

#about {
    padding: 40px 24px;

    
    @include helpers.md {
        grid-template-columns: 17.5% auto;
        gap: 16px;
    }

    @include helpers.lg {
        display: grid;
        grid-template-columns: 50% auto;
        margin: 0 auto;
    }

    @include helpers.xl {
        width: 1200px;
        margin: 0 auto;
    }

    section {

        .about-p {
            margin: 24px 0 40px;
        }

        #shield-safe-container {

            display: flex;
            justify-content: center;
            flex-direction: column;

            .list-item {
                display: grid;
                grid-template-columns: 17.5% auto;
                gap: 16px;

                @include helpers.sm {
                    display: flex;
                    flex-direction: row;
                } 

                margin-bottom: 30px;
            }

            h2 {
                color: var(--nightBlue);
                font-size: helpers.rem-calc(20);
                font-weight: 600;
                margin-bottom: 8px;
            }
        }
    }

    aside {
        margin-top: -20px;
    }
}