/* =============
    communication
============= */
@use "../helpers";

#communication{
    text-align: center;
    background-color: var(--white);
    // padding: 107px 338px 664px;

    #comms-content{
        @include helpers.lg{
            width: 992px;
            margin: 0 auto;
        }
        h1{
          color: var(--nightBlue);
          text-align: center;
        //   padding: 0px 164px 20px 300px;
          
        }

        p{
            color: var(--grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin-top: 24px;
            margin-bottom: 48px;
        }
    } 

    #comms-img{
        @include helpers.xl{
            width: 1200px;
            margin: 0 auto;
        }
    }
}


