/* =============
    communication
============= */
@use "../helpers";

#communication{
    background-color: var(--white);
    padding: 107px 338px 664px;

    article{
        h1{
          color: var(--nightBlue);
          padding: 0px 164px 20px 300px;
          
        }

        p{
            color: var(--grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin-top: 24px;
            margin-bottom: 48px;
        }
    } 
}


