/* =============
    communication
============= */
@use "../helpers";

#communication{
    background-color: var(--white);

    article{
        h1{
            color: var(--nightBlue);
        }

        p{
            color: var(--grey);
        }
    } 
}


